<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

      <nav>
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Log in</a>
      </nav>


{{!-- <h2>FIND PLANTS:</h2>
<p>Enter the name of the plant:</p>


<form action="/plant-search" method="get">
<label>Name of the plant</label>
<input type="text" name='plantName' placeholder="plant name">
<button>Search for plant</button>
<input type="reset" value="reset">
</form>

<form action="/edible-search" method="get">
<label>Edible parts of plant, enter in plural:</label>
<input type="text" name='ediblePlantPart' placeholder="eg. leaves,roots">
<button>Search by edible parts</button>
<input type="reset" value="reset">
</form> --}}



